{% extends 'base1.html' %}
{% block title %}Все рецепты{% endblock %}

{% block content %}
{% for recipe in recipes %}
<div style="vertical-aligne: middle; padding-top: 50px;">
<img src="{{recipe.image.url}}" style="height: 150px; width: 150px;">
<p>Название-{{ recipe.name }}</p>
<p>Описание-{{ recipe.description }}</p>
<a href="{% url 'full' recipe.pk %}" style="text-decoration: none; color: brown;">Смотреть весь рецепт</a>
{% if recipe.author == user.pk %}
<a href="{% url 'update_recipe' recipe.pk %}" class="badge badge-dark">Редактировать рецепт</a>
{% endif %}
</div>
{% endfor %}
{% endblock %}
