{% extends 'base1.html' %}
{% block title %}Личный кабинет{% endblock %}
{% block content %}
{% if user.is_authenticated %}
<h1>Добро пожаловать в личный кабинет, {{ user.username }}!</h1>

<a href="/add_recipe/" class="btn btn-primary">Добавить новый рецепт</a>
<h3>Мои рецепты</h3>
{% for recipe in recipes %}
<div style="vertical-aligne: middle; padding-top: 50px;">
    <img src="{{recipe.image.url}}" style="height: 150px; width: 150px;">
    <a href="{% url 'full' recipe.pk %}">{{ recipe.name }}</a>
    <p>{{recipe.description}}</p>
    <a href="{% url 'update_recipe' recipe.pk %}" class="btn btn-primary">Редактировать рецепт</a>
</div>

{% endfor %}

{% else %}
<p>Войдите в личный кабинет</p>
<a href="{% url 'login' %}" class="btn btn-primary">Войти</a>
{% endif %}
{% endblock %}